*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    width: 100%;
    border: black solid 1px;
}


.login{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}


button{
    color: rgb(233, 49, 49);
    border: rgb(233, 49, 49) 1px solid;
    padding: 6px;
    background-color: white;
}


.login form{
    display:flex;
    flex-direction: column;
}


.login form div{
    margin-left: 70px;
    margin-top:8px ;
}


.login form input{
    border: 2px solid rgb(233, 49, 49);
    padding: 6px;
    padding-top: 5px;
    margin-bottom: 6px;
}


main{
    display: flex;
    justify-content: center;
}


@media (max-width: 480px) {
    main{
        display: flex;
        flex-direction: column;
    }
    .login{
        margin-top: 10px;
    }
}


@media (min-width: 481px){

    .login{
        width: 30%;
        padding-left: 40px;
        margin-top:100px ;
        height: 200px;
        position: relative;
    }
    
    .login form div{
        margin-left: 70px;
        margin-top:8px ;
    }
    
    .figura{
        display: flex;
        margin-top:10px ;
        margin-left: 70px;
        height: 300px;
        width: 30%;
        justify-content: center;
        padding-top: 20px;
    }
}


.figura{
    display: flex;
    margin-top:10px ;
    height: 300px;
    justify-content: center;
    padding-top: 20px;
    
}


.nav{
    display: flex;
    justify-content:center;
    background-color: rgb(233, 49, 49);
    height: 70px;
    align-items: center;
    border-bottom: #6e2f24 solid 2px;
}


nav ul{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    padding: 80px;

}


nav ul li{
    display: flex;
    
}


nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: larger;
    justify-content: space-around;
}
